<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <div class="main">
    <a id="nav-links" href="/">Home</a>
      <h1><%=moss.commonName%></h1>
      <!-- ? action is the route this form talks to-->
      <div class="form-div">
        <form action="/mosses/<%=moss._id%>?_method=PUT" method="POST">
          <label for="commonName">Common Name:</label>
          <input type="text" name="commonName" id="commonName" value="<%=moss.commonName%>">
          <label for="latinName">Latin Name:</label>
          <input type="text" name="latinName" id="latinName" value="<%=moss.latinName%>">
          <label for="divison">Division:</label>
          <input type="text" name="division" id="division" value="<%=moss.division%>">
          <label for="growthForm">Growth Form:</label>
          <input type="text" name="growthForm" id="growthForm" value="<%=moss.growthForm%>">
          <label for="image">Image URL:</label>
          <input type="text" name="image" id="image" value="<%=moss.image%>">
          <button class="submit-button" type="submit">Update</button>
      </div>
      </form>
</body>

</html>